.black{
    display:block;
    height: 30px;
}

.all{
    width: 800px;
    margin-top:30px;
    margin-left:200px;
}
/* .all>div{
    display: none;
} */
/* .table{
    width: 780px;
    height: 500px;
    margin-left:20px;
}
#Table{
    width: 780px;
    font-size: 12px;

}
#Table th{
    background: #CCC;
    height: 40px;
}
#Table tbody{
    text-align: center;
    font-size: 12px;
}

#Table tbody tr td{
    height: 50px;
    line-height: 50px;

}
#Table tbody tr td span{
    margin-right: 10px;

} */




